src/main/resources/xsdl/players.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/players"
	xmlns:tns="http://www.example.org/players"
	elementFormDefault="qualified">
	<xs:element name="getHistoryForPlayerRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getHistoryForPlayerResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="games" type="xs:string"
					maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>
